In [2]:
# installing missing libraries
!pip install pymysql

# importing libraries
import pandas as pd
import pymysql
import numpy as np

Requirement already satisfied: pymysql in c:\python310\lib\site-packages (1.0.2)

In [3]:
# download edinburgh_bikes from server 
query = 'SELECT * FROM edinburgh_bikes'
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
# save the table as dataframe
df_bikes = pd.read_sql(sql=query, con=engine)

In [4]:
df_bikes

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438254,12636,2021-06-30 23:30:31,2021-07-01 00:06:10,2139,1090,Hillside Crescent,East end of Hillside Crescent,55.957872,-3.175888,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438255,12637,2021-06-30 23:36:16,2021-07-01 00:05:40,1763,1814,Abbeyhill,Near Abbey Mount,55.955248,-3.172216,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438256,12638,2021-06-30 23:49:03,2021-07-01 00:11:25,1342,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438257,12639,2021-06-30 23:49:03,2021-07-01 00:11:52,1369,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438258,12640,2021-06-30 23:58:33,2021-07-01 00:07:15,522,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,1769,Brunswick Place,Corner of Elm Row/Brunswick Street,55.960852,-3.180986

In [5]:
df_weather

,time,temp,feels,wind,gust,rain,humidity,cloud,pressure,vis,date
0,00:00,11 Â°c,11 Â°c,9 km/h from S,19 km/h,0.0 mm,79%,13%,1020 mb,Excellent,2018-09-01
1,03:00,13 Â°c,12 Â°c,11 km/h from SSW,19 km/h,0.0 mm,76%,96%,1020 mb,Excellent,2018-09-01
2,06:00,14 Â°c,13 Â°c,11 km/h from SSW,19 km/h,0.0 mm,84%,100%,1020 mb,Excellent,2018-09-01
3,09:00,14 Â°c,13 Â°c,14 km/h from SSW,23 km/h,0.1 mm,88%,78%,1021 mb,Excellent,2018-09-01
4,12:00,16 Â°c,16 Â°c,15 km/h from SSW,22 km/h,0.0 mm,87%,87%,1021 mb,Excellent,2018-09-01
...,...,...,...,...,...,...,...,...,...,...,...
6331,09:00,14 Â°c,12 Â°c,21 km/h from SSE,33 km/h,0.4 mm,86%,100%,993 mb,Poor,2020-10-31
6332,12:00,14 Â°c,12 Â°c,24 km/h from SSE,37 km/h,0.4 mm,88%,94%,987 mb,Poor,2020-10-31
6333,15:00,10 Â°c,6 Â°c,42 km/h from SW,55 km/h,0.5 mm,75%,100%,989 mb,Excellent,2020-10-31
6334,18:00,9 Â°c,5 Â°c,38 km/h from WSW,54 km/h,0.0 mm,76%,79%,994 mb,Excellent,2020-10-31
6335,21:00,8 Â°c,4 Â°c,36 km/h from SW,49 km/h,0.1 mm,74%,79%,997 mb,Excellent,2020-10-31

# Detailed examination of the list of station names managed to identify likely misspellings in the names of the stations:

1. Bruntsfield **L**inks X Bruntsfield **l**inks
2. Picady Place | Pica**r**dy Place
3. Waitrose Comely Bank | Waitrose**,** Comely Bank

not necesserary a typo, but might be better to unify since they have close spatial relationships:

4. Kings Building 2 | Kings Building 3 | Kings Building**s** 1 | Kings Building**s** 4

### add 1. Bruntsfield **L**inks

In [7]:
BruntsfieldLinks_used = df_bikes[df_bikes['start_station_name'] == 'Bruntsfield Links'].shape[0]
print(f'Station Bruntsfield Links was used {BruntsfieldLinks_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Bruntsfield Links'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Bruntsfield Links was used 7001 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
438153,2021-06-30 18:51:26,Bruntsfield Links,Corner of Bruntsfield Links next to Public Toi...,55.937123,-3.206432

### add 1. Bruntsfield **l**inks

In [8]:
Bruntsfieldlinks_used = df_bikes[df_bikes['start_station_name'] == 'Bruntsfield links'].shape[0]
print(f'Station Bruntsfield links was used {Bruntsfieldlinks_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Bruntsfield links'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Bruntsfield links was used 1236 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
133991,2019-12-12 09:01:48,Bruntsfield links,Corner of Bruntsfield Terrace and Bruntsfield ...,55.937159,-3.206435

If we compare these two station names, we will see that they do not have the same name, description, or coordinates. From this we can conclude that it is not a typo in the database. But what is likely is that the original station was replaced with a new one. The analysis of active and inactive stations will take care of solving this problem.

### add 2. Picady Place

In [9]:
PicadyPlace_used = df_bikes[df_bikes['start_station_name'] == 'Picady Place'].shape[0]
print(f'Station Picady Place was used {PicadyPlace_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Picady Place'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Picady Place was used 1 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
338918,2020-10-09 17:50:01,Picady Place,Outside Omni Centre,55.956535,-3.186248

### add2. Pica**r**dy Place

In [12]:
PicardyPlace_used = df_bikes[df_bikes['start_station_name'] == 'Picardy Place'].shape[0]
print(f'Station Picardy Place was used {PicardyPlace_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Picardy Place'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Picardy Place was used 1928 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
438233,2021-06-30 22:23:10,Picardy Place,Outside Omni Centre,55.956535,-3.186248

If we compare these two station names, we will see that they have the same description and coordinates. In addition, the first mentioned station was used only once. From this we can conclude that it is a typo in the database. In this case, we are allowed to correct the error by overwriting the correct name of the station:

Overwriting the correct name of the station Picardy Place:

In [15]:
df_bikes.loc[df_bikes['start_station_name'] == 'Picady Place', 'start_station_name'] = 'Picardy Place'

### add 3. Waitrose Comely Bank

In [17]:
WaitroseComelyBank_used = df_bikes[df_bikes['start_station_name'] == 'Waitrose Comely Bank'].shape[0]
print(f'Station Waitrose Comely Bank was used {WaitroseComelyBank_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Waitrose Comely Bank'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Waitrose Comely Bank was used 2385 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
437680,2021-06-29 15:40:24,Waitrose Comely Bank,On Fettes Avenue next to Waitrose,55.959536,-3.223434

### add3. Waitrose**,** Comely Bank

In [18]:
Waitrose_ComelyBank_used = df_bikes[df_bikes['start_station_name'] == 'Waitrose, Comely Bank'].shape[0]
print(f'Station Waitrose, Comely Bank was used {Waitrose_ComelyBank_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Waitrose, Comely Bank'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Waitrose, Comely Bank was used 484 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
54377,2019-06-06 14:13:29,"Waitrose, Comely Bank",Fettes Avenue,55.959504,-3.223428

If we compare these two station names, we will see that they do not have the same name, description, or coordinates. From this we can conclude that it is not a typo in the database. But what is likely is that the original station was replaced with a new one. The analysis of active and inactive stations will take care of solving this problem.

### add4. Waitrose Kings Buildings 1

In [19]:
KingsBuildings1_used = df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 1'].shape[0]b
print(f'Station Kings Buildings 1 was used {KingsBuildings1_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 1'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Kings Buildings 1 was used 1936 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
437332,2021-06-28 16:01:25,Kings Buildings 1,Grant Institute,55.924185,-3.173831

### add4. Waitrose Kings Building 2

In [20]:
KingsBuilding2_used = df_bikes[df_bikes['start_station_name'] == 'Kings Building 2'].shape[0]
print(f'Station Kings Building 2 was used {KingsBuilding2_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Building 2'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Kings Building 2 was used 4096 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
438050,2021-06-30 15:38:04,Kings Building 2,Sanderson Building,55.923202,-3.171646

### add4. Waitrose Kings Building 3

In [21]:
KingsBuilding3_used = df_bikes[df_bikes['start_station_name'] == 'Kings Building 3'].shape[0]
print(f'Station Kings Building 3 was used {KingsBuilding3_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Building 3'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Kings Building 3 was used 3176 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
438044,2021-06-30 15:30:05,Kings Building 3,Kings Building House,55.923479,-3.175385

### add4. Waitrose Kings Buildings 4

In [24]:
KingsBuildings4_used = df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 4'].shape[0]
print(f'Station Kings Buildings 4 was used {KingsBuildings4_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 4'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

Station Kings Buildings 4 was used 254 times.

,ended_at,start_station_name,start_station_description,start_station_latitude,start_station_longitude
72294,2019-07-23 07:37:06,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902

The usage, description and coordinate of those stations are so different that we rather keep those stations untouched ;-)



---



<br>

# Final writing of a clean dataframe into csv

In [25]:
df_bikes.to_csv('edinburgh_bikes.csv')

<br>

# Modifying `edinburgh_weather` table:

In [85]:
# download edinburgh_weather from server 
query = 'SELECT * FROM edinburgh_weather'
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
# save the table as dataframe
df_weather = pd.read_sql(sql=query, con=engine)

In [86]:
df_weather

,time,temp,feels,wind,gust,rain,humidity,cloud,pressure,vis,date
0,00:00,11 Â°c,11 Â°c,9 km/h from S,19 km/h,0.0 mm,79%,13%,1020 mb,Excellent,2018-09-01
1,03:00,13 Â°c,12 Â°c,11 km/h from SSW,19 km/h,0.0 mm,76%,96%,1020 mb,Excellent,2018-09-01
2,06:00,14 Â°c,13 Â°c,11 km/h from SSW,19 km/h,0.0 mm,84%,100%,1020 mb,Excellent,2018-09-01
3,09:00,14 Â°c,13 Â°c,14 km/h from SSW,23 km/h,0.1 mm,88%,78%,1021 mb,Excellent,2018-09-01
4,12:00,16 Â°c,16 Â°c,15 km/h from SSW,22 km/h,0.0 mm,87%,87%,1021 mb,Excellent,2018-09-01
...,...,...,...,...,...,...,...,...,...,...,...
6331,09:00,14 Â°c,12 Â°c,21 km/h from SSE,33 km/h,0.4 mm,86%,100%,993 mb,Poor,2020-10-31
6332,12:00,14 Â°c,12 Â°c,24 km/h from SSE,37 km/h,0.4 mm,88%,94%,987 mb,Poor,2020-10-31
6333,15:00,10 Â°c,6 Â°c,42 km/h from SW,55 km/h,0.5 mm,75%,100%,989 mb,Excellent,2020-10-31
6334,18:00,9 Â°c,5 Â°c,38 km/h from WSW,54 km/h,0.0 mm,76%,79%,994 mb,Excellent,2020-10-31
6335,21:00,8 Â°c,4 Â°c,36 km/h from SW,49 km/h,0.1 mm,74%,79%,997 mb,Excellent,2020-10-31

In [87]:
# copying `wind` column
df_weather['wind-dir'] = df_weather['wind']

In [88]:
# re-arranging column to meet the eye :-)
cols = df_weather.columns.tolist()
cols = cols[10:11] + cols[:10] + cols[11:12]
cols2 = cols[:5] + cols[-1:] + cols[5:-1]
df_weather = df_weather[cols2]

In [89]:
df_weather

,date,time,temp,feels,wind,wind-dir,gust,rain,humidity,cloud,pressure,vis
0,2018-09-01,00:00,11 Â°c,11 Â°c,9 km/h from S,9 km/h from S,19 km/h,0.0 mm,79%,13%,1020 mb,Excellent
1,2018-09-01,03:00,13 Â°c,12 Â°c,11 km/h from SSW,11 km/h from SSW,19 km/h,0.0 mm,76%,96%,1020 mb,Excellent
2,2018-09-01,06:00,14 Â°c,13 Â°c,11 km/h from SSW,11 km/h from SSW,19 km/h,0.0 mm,84%,100%,1020 mb,Excellent
3,2018-09-01,09:00,14 Â°c,13 Â°c,14 km/h from SSW,14 km/h from SSW,23 km/h,0.1 mm,88%,78%,1021 mb,Excellent
4,2018-09-01,12:00,16 Â°c,16 Â°c,15 km/h from SSW,15 km/h from SSW,22 km/h,0.0 mm,87%,87%,1021 mb,Excellent
...,...,...,...,...,...,...,...,...,...,...,...,...
6331,2020-10-31,09:00,14 Â°c,12 Â°c,21 km/h from SSE,21 km/h from SSE,33 km/h,0.4 mm,86%,100%,993 mb,Poor
6332,2020-10-31,12:00,14 Â°c,12 Â°c,24 km/h from SSE,24 km/h from SSE,37 km/h,0.4 mm,88%,94%,987 mb,Poor
6333,2020-10-31,15:00,10 Â°c,6 Â°c,42 km/h from SW,42 km/h from SW,55 km/h,0.5 mm,75%,100%,989 mb,Excellent
6334,2020-10-31,18:00,9 Â°c,5 Â°c,38 km/h from WSW,38 km/h from WSW,54 km/h,0.0 mm,76%,79%,994 mb,Excellent
6335,2020-10-31,21:00,8 Â°c,4 Â°c,36 km/h from SW,36 km/h from SW,49 km/h,0.1 mm,74%,79%,997 mb,Excellent

In [90]:
# stripping values in columns and transforming into int or float format
df_weather['temp'] = df_weather['temp'].str.replace('Â°c', '').astype('int')
df_weather['feels'] = df_weather['feels'].str.replace('Â°c', '').astype('int')

df_weather['wind'] = df_weather['wind'].str.strip('km/hfromSWEN ').astype('int')
df_weather['wind-dir'] = df_weather['wind-dir'].str.strip('km/hfrom1234567890 ').astype('str')
df_weather['gust'] = df_weather['gust'].str.replace('km/h', '').astype('int')

df_weather['rain'] = df_weather['rain'].str.replace('mm', '').astype('float')
df_weather['humidity'] = df_weather['humidity'].str.replace('%', '').astype('int')
df_weather['cloud'] = df_weather['cloud'].str.replace('%', '').astype('int')

df_weather['pressure'] = df_weather['pressure'].str.replace('mb', '').astype('int')


# renaming column names
df_weather = df_weather.rename(columns={
    "temp": "temp[Â°C]", 
    "feels": "feels[Â°C]",
    "wind": "wind[km/h]",
    "gust": "gust[km/h]",
    "rain": "rain[mm]",
    "humidity": "humidity[%]",
    "cloud": "cloud[%]",
    "pressure": "pressure[mb]",
    "vis": "visibility"}
    )

# Final writing of a clean dataframe into csv

In [93]:
df_weather.to_csv('edinburgh_weather.csv')